/* created by manipapan2     */
*{
    border-style: none;
    font-weight: bold;
    user-select: none;
}


*:focus{
    outline: none;
}


body{
    
}

.bodyFake{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(23,21,21);
    background: linear-gradient(23deg, rgba(23,21,21,1) 34%, rgba(12,11,14,1) 88%);

}


.fadee{
    animation: 700ms linear fadeee;
}

@keyframes fadeee {
    /* 0%{transform: scale(1);} */
    100%{transform: scale(0);}
}


.fadeein{
    animation: 500ms linear fadeeee;
    
}

@keyframes fadeeee {
    /* 0%{transform: scale(1);} */
    100%{transform: scale(2);}
}


.fadeasl{
    animation: 1s linear fadeasl;
}

@keyframes fadeasl {
    100%{opacity: 0;}
}


.fad{
    animation: 1s linear fad;
}

@keyframes fad {
    100%{opacity: 1;}
}




.created{
    display: flex;
    width: 300px;
    height: 200px;
    /* border: 1px solid red; */
    margin: 50px;
    text-align: center;
    justify-content: center;
    background-image: url(gradient.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transform: translateY(-20px); */

}

.created p{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25;
    font-weight: bold;
    
}


.aslit{
    animation: 0.7s infinite aslit alternate;
}

@keyframes aslit{
    0%{transform: translateY(7px);}
    100%{transform: translateY(-7px);}
}




.start-button{
    position: absolute;
    width: 120px;
    height: 40px;
    margin-top: 200px;
    border-radius: 10px;
    background-image: url(6dc8f11334c7e1564bde781d84f9dfb7.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(21, 255, 0);
    transition: 500ms;
}


.start-button:hover{
    transform: scale(0.8);
}


.slider{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


.front-end{
    display: flex;
    width: 800px;
    height: 500px;
    border: black 5px solid;
    background-image: url(front-end-vs-back-end-.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    border-radius: 15px;
}


.alr{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}


.alr input{
    width: 150px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #00DBDE;
    background-image: linear-gradient(270deg, #00DBDE 0%, #FC00FF 100%);

}


.alr input::placeholder{
    font-size: 13;
    color: black;
}



.alr button{
    width: 120px;
    height: 40px;
}


.backend{
    display: none;
    width: 800px;
    height: 550px;
    border: black 5px solid;
    background-image: url(fq0l8nj88hries5v5a0h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    border-radius: 15px;
}


.json{
    display: none;
    width: 400px;
    height: 200px;
    border: black 5px solid;
    background-image: url(json.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    border-radius: 15px;
}


.jsonformatter{
    display: none;
    width: 400px;
    height: 200px;
    border: black 5px solid;
    background-image: url(jsonf.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    border-radius: 15px;
}


.goright{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 70px;
    background-color: #05792a;
    margin-right: auto;
    right: 70;
    opacity: 0;
    border-radius: 10px;
    outline-offset: 3px;
    transition: 100ms;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}


.goleft{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 50px;
    height: 70px;
    background-color: #05792a;
    left: 70;
    opacity: 0;
    border-radius: 10px;
    outline-offset: 3px;
    transition: 100ms;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}


.goright::before{
    content: "";
    width: 20px;
    height: 5px;
    background-color: black;
    transform: rotate(45deg);
    margin-bottom: 6px;
    border-radius: 5px;
}


.goright::after{
    content: "";
    width: 20px;
    height: 5px;
    background-color: black;
    transform: rotate(320deg);
    border-radius: 5px;
}


.goright:hover{
    outline: 2px white solid;
    cursor: pointer;
    background-color: #12e655;
}


.goleft:hover{
    outline: 2px white solid;
    cursor: pointer;
    background-color: #12e655;
    opacity: 1;
}


.goleft::before{
    content: "";
    width: 20px;
    height: 5px;
    background-color: black;
    transform: rotate(320deg);
    margin-bottom: 6px;
    border-radius: 5px;
}


.goleft::after{
    content: "";
    width: 20px;
    height: 5px;
    background-color: black;
    transform: rotate(45deg);
    border-radius: 5px;
}


.goright:active{
    transform: scale(0.8);
}


.goleft:active{
    transform: scale(0.8);
}







@-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  /**
    * Box spin
    *
    * @author jh3y - jheytompkins.com
  */
  .box-spin {
    -webkit-animation: spin 3s infinite linear;
            animation: spin 3s infinite linear;
    height: 50px;
    position: relative;
    width: 50px; }
    .box-spin:before {
      content: '';
      display: block;
      height: 25px;
      width: 25px;
      -webkit-animation: spin .5s infinite;
              animation: spin .5s infinite;
      /* background: var(--primary, rgb(0, 167, 233)); */
      background-image: url(gradient.gif);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -25px;
      margin-top: -25px; }



/* created by manipapan2     */